In [7]:
from pyspark.sql import SparkSession
import praw 
import json

spark = SparkSession.builder \
    .appName("testing my skills") \
    .config(
        "spark.jars.packages",
        "org.apache.spark:spark-sql-kafka-0-10_2.12:3.5.0,"
        "org.apache.kafka:kafka-clients:3.5.1,"
        "org.apache.spark:spark-token-provider-kafka-0-10_2.12:3.5.0,"
        "org.apache.commons:commons-pool2:2.11.1,"
        "org.postgresql:postgresql:42.6.0"
    ) \
    .getOrCreate()


reddit = praw.Reddit(
    client_id="xqPYLpWNQmYN92tOv5-BYQ",
    client_secret="ZCWInQM9d_nJHSUwNoO0duBpFbRiSw",
    user_agent="aymane69"
    
)

In [3]:
"""
    reading streams of data from kafka producer ,
    
"""
from kafka import KafkaProducer
import json


producer = KafkaProducer(
                bootstrap_servers='kafka:9092',
                value_serializer=lambda v: json.dumps(v).encode('utf-8')
                )

subreddit=reddit.subreddit("dataengineering")

list=[]
for p in subreddit.hot(limit=1000):
    item={
        "id": p.id ,
        "name": p.name,
        "content": p.selftext ,
        "date_utc": p.created_utc ,
        "title": p.title ,
        "upvote_ratio": p.upvote_ratio ,
        "score": p.score,
        "url": p.url
    }
    list.append(item)
    producer.send("reddit",list)

df = spark.readStream.format("kafka") \
    .option("kafka.bootstrap.servers", "kafka:9092") \
    .option("subscribe", "reddit") \
    .load()

In [8]:
subreddits=["news",
            "worldnews",
            "politics",
            "UpliftingNews",
            "technology",
            "programming",
            "science",
            "books",
            "dataengineering"]

for sub in subreddits : 
    subreddit=reddit.subreddit(sub)
    posts=[]
    for post in subreddit.hot(limit=500):
        item={
            "id": post.id ,
            "name": post.name,
            "content": post.selftext ,
            "date_utc": post.created_utc ,
            "title": post.title ,
            "upvote_ratio": post.upvote_ratio ,
            "score": post.score,
            "url": post.url
            }
        posts.append(item)
    
    with open(f"{sub}.json","w") as f :
        json.dump(posts,f)

In [9]:
from pyspark.sql.functions import from_unixtime 
from pyspark.sql.functions import *




dfs = {}
for sub in subreddits: 
    df = spark.read \
        .format("json") \
        .load(f"{sub}.json") \
        .withColumn("created_date", from_unixtime(col("date_utc"))) \
        .drop(col("date_utc"))

    dfs[sub] = df

In [10]:
dfs["dataengineering"].toPandas()

,content,id,name,score,title,upvote_ratio,url,created_date
0,This thread is a place where you can share thi...,1olrgye,t3_1olrgye,5,Monthly General Discussion - Nov 2025,0.86,https://www.reddit.com/r/dataengineering/comme...,2025-11-01 16:00:49
1,https://preview.redd.it/ia7kdykk8dlb1.png?widt...,1n5slp3,t3_1n5slp3,34,Quarterly Salary Discussion - Sep 2025,0.91,https://www.reddit.com/r/dataengineering/comme...,2025-09-01 16:00:36
2,Happy to get help from experts in the house.,1ozegd4,t3_1ozegd4,10,What is your current Enterprise Cloud Storage ...,0.92,https://www.reddit.com/r/dataengineering/comme...,2025-11-17 12:02:07
3,Hey! I’m curious how other teams manage feedba...,1ozdbcx,t3_1ozdbcx,6,How do your teams handle UAT + releases for ne...,0.88,https://www.reddit.com/r/dataengineering/comme...,2025-11-17 10:57:19
4,I work for a small food and bev company. 200mm...,1oz6ckb,t3_1oz6ckb,22,Director of IT or DE,0.89,https://www.reddit.com/r/dataengineering/comme...,2025-11-17 03:56:24
...,...,...,...,...,...,...,...,...
495,"Hi, I'm new to databricks (Please go easy) and...",1o88lg6,t3_1o88lg6,1,Suggestion needed with Medallion Architecture,0.56,https://www.reddit.com/r/dataengineering/comme...,2025-10-16 15:04:36
496,,1o88isc,t3_1o88isc,1,"Every company is a data company, but most don'...",0.60,https://taleshape.com/blog/getting-started-bui...,2025-10-16 15:01:50
497,,1o85f8n,t3_1o85f8n,0,Intelligent Applications: The Next Step in Dat...,0.43,https://news.sap.com/2025/10/intelligent-appli...,2025-10-16 12:56:37
498,Hi everyone! I'm doing data collection for a c...,1o7tcyz,t3_1o7tcyz,6,Data Collecting,0.88,https://www.reddit.com/r/dataengineering/comme...,2025-10-16 01:30:27
499,I run a huge data product that gives informati...,1o83jwp,t3_1o83jwp,0,Best way to run a detailed global market model...,0.40,https://www.reddit.com/r/dataengineering/comme...,2025-10-16 11:25:08

In [11]:
#[postgres_config]
host = "postgres"
port = 5432
username = "reddit_user"
password = "reddit_pass"
database = "reddit_db"

In [12]:
import psycopg2 

conn = psycopg2.connect(
    "dbname=" + database
    + " user=" + username
    + " password=" + password
    + " host=" + host,
    port = port)

In [13]:


subreddits=["news",
            "worldnews",
            "politics",
            "UpliftingNews",
            "technology",
            "programming",
            "science",
            "books",
            "dataengineering"]

for sub in subreddits : 
    m_query = f"""
    CREATE TABLE IF NOT EXISTS {sub} (
        id VARCHAR(20) PRIMARY KEY,
        name VARCHAR(40),
        content VARCHAR(500),
        title VARCHAR(200),
        upvote_ratio FLOAT,
        score INT,
        url VARCHAR(200),
        created_date TIMESTAMP
    )
    """
    
    m_cursor = conn.cursor()
    m_cursor.execute(m_query)
    conn.commit()
    m_cursor.close()

In [16]:
from pyspark.sql.types import DecimalType, TimestampType

for table_name, df in dfs.items():
    # Ensure types match PostgreSQL
    df_fixed = df.withColumn("upvote_ratio", df["upvote_ratio"].cast(DecimalType(10,3))) \
                 .withColumn("created_date", df["created_date"].cast(TimestampType()))
    
    # Optional: replace nulls if upvote_ratio or other non-nullable columns
    df_fixed = df_fixed.fillna({"upvote_ratio": 0.0, "score": 0, "content": "", "title": "", "url": ""})
    
    # Write to PostgreSQL
    df_fixed.write \
        .format("jdbc") \
        .option("url", "jdbc:postgresql://postgres:5432/reddit_db") \
        .option("dbtable", table_name) \
        .option("user", "reddit_user") \
        .option("password", "reddit_pass") \
        .option("driver", "org.postgresql.Driver") \
        .mode("append") \
        .save()

Py4JJavaError: An error occurred while calling o152.save.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 11.0 failed 1 times, most recent failure: Lost task 0.0 in stage 11.0 (TID 11) (56fee3ae383c executor driver): java.sql.BatchUpdateException: Batch entry 0 INSERT INTO news ("content","id","name","score","title","upvote_ratio","url","created_date") VALUES ('','1ozfysl','t3_1ozfysl',2231,'Gunmen abduct 25 girls from a high school in Nigeria and kill one of the staff',0.97,'https://apnews.com/article/nigeria-girls-abducted-school-9d288758bf1a57f3390c962f0a68596b?utm_source=onesignal&utm_medium=push&utm_campaign=2025-11-17-Girls+kidnapped','2025-11-17 13:14:56') was aborted: ERROR: column "created_date" is of type timestamp without time zone but expression is of type character varying
  Hint: You will need to rewrite or cast the expression.
  Position: 123  Call getNextException to see other errors in the batch.
	at org.postgresql.jdbc.BatchResultHandler.handleError(BatchResultHandler.java:165)
	at org.postgresql.jdbc.PgStatement.internalExecuteBatch(PgStatement.java:880)
	at org.postgresql.jdbc.PgStatement.executeBatch(PgStatement.java:919)
	at org.postgresql.jdbc.PgPreparedStatement.executeBatch(PgPreparedStatement.java:1685)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.savePartition(JdbcUtils.scala:751)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.$anonfun$saveTable$1(JdbcUtils.scala:902)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.$anonfun$saveTable$1$adapted(JdbcUtils.scala:901)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2(RDD.scala:1036)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2$adapted(RDD.scala:1036)
	at org.apache.spark.SparkContext.$anonfun$runJob$5(SparkContext.scala:2438)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:93)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:161)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1136)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:635)
	at java.base/java.lang.Thread.run(Thread.java:833)
Caused by: org.postgresql.util.PSQLException: ERROR: column "created_date" is of type timestamp without time zone but expression is of type character varying
  Hint: You will need to rewrite or cast the expression.
  Position: 123
	at org.postgresql.core.v3.QueryExecutorImpl.receiveErrorResponse(QueryExecutorImpl.java:2713)
	at org.postgresql.core.v3.QueryExecutorImpl.processResults(QueryExecutorImpl.java:2401)
	at org.postgresql.core.v3.QueryExecutorImpl.execute(QueryExecutorImpl.java:368)
	at org.postgresql.core.v3.QueryExecutorImpl.execute(QueryExecutorImpl.java:327)
	at org.postgresql.jdbc.PgStatement.internalExecuteBatch(PgStatement.java:877)
	... 19 more

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2844)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2780)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2779)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2779)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1242)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1242)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1242)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:3048)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2982)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2971)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:984)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2398)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2419)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2438)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2463)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$1(RDD.scala:1036)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:407)
	at org.apache.spark.rdd.RDD.foreachPartition(RDD.scala:1034)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.saveTable(JdbcUtils.scala:901)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:70)
	at org.apache.spark.sql.execution.datasources.SaveIntoDataSourceCommand.run(SaveIntoDataSourceCommand.scala:48)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult$lzycompute(commands.scala:75)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult(commands.scala:73)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.executeCollect(commands.scala:84)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.$anonfun$applyOrElse$1(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:201)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:108)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:66)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:98)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(origin.scala:76)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:267)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:263)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:437)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted$lzycompute(QueryExecution.scala:85)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:83)
	at org.apache.spark.sql.execution.QueryExecution.assertCommandExecuted(QueryExecution.scala:142)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:859)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:388)
	at org.apache.spark.sql.DataFrameWriter.saveInternal(DataFrameWriter.scala:361)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:248)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:77)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:568)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:833)
Caused by: java.sql.BatchUpdateException: Batch entry 0 INSERT INTO news ("content","id","name","score","title","upvote_ratio","url","created_date") VALUES ('','1ozfysl','t3_1ozfysl',2231,'Gunmen abduct 25 girls from a high school in Nigeria and kill one of the staff',0.97,'https://apnews.com/article/nigeria-girls-abducted-school-9d288758bf1a57f3390c962f0a68596b?utm_source=onesignal&utm_medium=push&utm_campaign=2025-11-17-Girls+kidnapped','2025-11-17 13:14:56') was aborted: ERROR: column "created_date" is of type timestamp without time zone but expression is of type character varying
  Hint: You will need to rewrite or cast the expression.
  Position: 123  Call getNextException to see other errors in the batch.
	at org.postgresql.jdbc.BatchResultHandler.handleError(BatchResultHandler.java:165)
	at org.postgresql.jdbc.PgStatement.internalExecuteBatch(PgStatement.java:880)
	at org.postgresql.jdbc.PgStatement.executeBatch(PgStatement.java:919)
	at org.postgresql.jdbc.PgPreparedStatement.executeBatch(PgPreparedStatement.java:1685)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.savePartition(JdbcUtils.scala:751)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.$anonfun$saveTable$1(JdbcUtils.scala:902)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.$anonfun$saveTable$1$adapted(JdbcUtils.scala:901)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2(RDD.scala:1036)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2$adapted(RDD.scala:1036)
	at org.apache.spark.SparkContext.$anonfun$runJob$5(SparkContext.scala:2438)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:93)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:161)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1136)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:635)
	... 1 more
Caused by: org.postgresql.util.PSQLException: ERROR: column "created_date" is of type timestamp without time zone but expression is of type character varying
  Hint: You will need to rewrite or cast the expression.
  Position: 123
	at org.postgresql.core.v3.QueryExecutorImpl.receiveErrorResponse(QueryExecutorImpl.java:2713)
	at org.postgresql.core.v3.QueryExecutorImpl.processResults(QueryExecutorImpl.java:2401)
	at org.postgresql.core.v3.QueryExecutorImpl.execute(QueryExecutorImpl.java:368)
	at org.postgresql.core.v3.QueryExecutorImpl.execute(QueryExecutorImpl.java:327)
	at org.postgresql.jdbc.PgStatement.internalExecuteBatch(PgStatement.java:877)
	... 19 more